<% layout('layouts/boilerplate') %>

<form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
    <!-- <div class="mb-3">
      <label for="owner" class="form-label">Owner:</label>
      <input type="text" class="form-control" id="owner" name="owner" aria-describedby="owner" value="<%= task.owner.username %> ">
    </div> -->
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <textarea class="form-control" id="title" rows="3" name="title"><%= task.title %></textarea>
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="isPrivate" name="isPrivate" 
      <%if(task.isPrivate){  %>
        checked
      <% } %>  >
      <label class="form-check-label" for="isPrivate">Is this task private?</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
